<h1>Terms & Conditions</h1>
<p>This is an attempt to collect a debt.  Any information obtained will be used for this purpose. Any transactions made on this SettleDirect online session are made between you and SKO Brenner American (SKO). The SettleDirect website is merely a conveyor of information between you and SKO, and is not a third-party in the transaction.</p>
<p>By signing onto the website, you promise that you are the holder for the account in question, and that you promise to abide by the terms of any settlement you agree to.</p>
<p>
  In addition, you understand the following conditions of a debt settlement:<br />
  <ul style="list-style: circle inside">
    <li>The settlement, and any savings you negotiate, will become void if you do not make timely payment as required in your agreement. If the settlement becomes void, you will once again owe the full original balance due plus any additional interest and penalties that accumulate.</li>
    <li>The IRS may require a forgiveness of debt made in a settlement to be reported as income on a Form 1099 and this may increase the income taxes you owe. Please consult a tax advisor for more details.</li>
  </ul>
</p>
<p>
  This settlement only affects the debt pertaining to the specific account number you see on this SettleDirect website.<br />
  The letter you received from SKO contains further disclosures. Please read it carefully.
</p>