<h1>About SettleDirect</h1>

<p>SettleDirect is a website where your debtors go to negotiate a settlement directly with you. Millions of American debtors want to settle, and they are spurred-on by hundreds of millions of dollars in advertising by 3rd party settlement companies.   But unlike the debt settlement companies. with SettleDirect, there is no middleman, and there are no costly fees for the debtor to pay. </p>

<p>Here are some more of the reasons SetttleDirect is a Win-Win for both you and the debtor:</p>
<ul style="margin: 0px 0px 10px 20px">
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>It carries your brand.</b>  The SettleDirect website is customized to be an extension of your brand.  The Instructions on the site emphasize that the debtor is dealing directly with you; not a third-party intermediary.</li>
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>It's consumer-friendly.</b> SettleDirect is simple, inviting and stress free for the debtor.  That means you'll attract debtors reluctant to speak with a collector by phone...even those you might consider "non-contactable."</li>
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>It's programmed to maximize your results.</b> While the debtor can bargain for his or her best deal, SettleDirect negotiates for your best interests, enforcing your settlement policies and seeking settlements at the highest possible value.</li>
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>It's versatile.</b> SettleDirect is easy to adapt to numerous kinds of settlement offers, and even some other kinds of non-settlement collections programs.</li>
</ul>

<h2>Frequently Asked Questions (FAQs)</h2>

<h2>Q. How does SettleDirect assure security and privacy?</h2>
<p><b>A. </b> We use state of the art 128 bit key Secure Socket Layer encryption to assure security of data over the internet, the same as is used in online banking.  In addition, we comply with PCI guidelines, by not holding customer identifiable data on our servers.  For example, we only hold last four digits of Social Security Number and account numbers - never an entire account number.   Our servers are situated at one of the world's most modern and secure web hosting facilities: Amazon Web Services, a division of Amazon.com.  Finally, we enforce a strict Privacy Policy, which you can see at the bottom of this page.</p>

<h2>Q.How  are debtors invited to the SettleDirect website?</h2>
<p><b>A. </b> You input a list of eligible debtors, and SettleDirect invites them to participate by a direct mail and/or email communication, depending on your requirements.   This communication is compelling because it contains good news: "Your creditor is ready to consider a debt settlement, and you can negotiate for it online."  Like the website itself, these drive-to-web communications are tailored to your branding and legal requirements. </p>

<h2>Q  How does SettleDirect decide how to make counter-offers against the debtor?</h2>
<p><b>A. </b>We use a proprietary adaptive learning technology based on Bayesian mathematics. Essentially, our software makes each offer decision weighing a debtor's behavior in the current session, as well as the learned experience of all previous negotiations.  Hence it will be very difficult for a debtor to "game" the system or to guess what is the lowest acceptable offer.</p>

<h2>Q. What are some examples of the offer choices I can make?</h2>
<p><b>A.</b>SettleDirect lets you specify specific settlement discount percentages, as well as choose many negotiation options including:</p>
<ul style="margin: 0px 0px 10px 20px">
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>Who makes the opening offer.</b> You can choose to make an opening offer, or you can ask for debtor to make the first move.</li>
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>Non-negotiable offers.</b>  You can also specify a fixed "take it or leave it" offer that does not allow the debtor to make a counter offer.</li>
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>Lump sum or installments.</b>  You can offer your debtors a wide range of monthly installment options as an alternative to a lump sum.</li>
    <li style="list-style:none; margin: 0px 0px 10px 0px"><b>Non-settlement offers.</b>  SettleDirect can also be used to collect against balances due because of NSF, rejected credit card charges and in a wide range of other situations.</li>
</ul>

<h2>Q. What is the auto-optimization feature?</h2>
<p><b>A.</b> As an alternative to your specifying an opening offer and specific discount percentage for each debtor, SettleDirect can auto-optimize these values to seek the best overall performance for your campaign.  The auto-optimization method will still enforce your settlement policies, e.g. assuring that an average discount percentage is met across the campaign, and/or that no account will settle below a percentage you designate.</p>

<h2>Q. What if a settlement isn't reached in an online session?</h2>
<p><b>A. </b> If a settlement isn't reached, SettleDirect enables the debtor to either request a new online session or speak to a collector on the phone. You will receive an email message informing you of this situation, and will have the opportunity to approve or reject the debtor's request for a new online session. This is a safeguard we place against debtors potentially "gaming" the system via repeat online visits.</p>

<h2>Q. How does the debtor pay for the settlement?</h2>
<p><b>A. </b> Once a settlement is reached, SettleDirect lets the debtor schedule a payment - or a series of payments - online using a range of options including ACH, debit and even credit cards.  You set the parameters on which payment methods are acceptable, and where these payments are deposited.</p>

<h2>Q. How do I keep track of my campaign progress?</h2>
<p><b>A. </b> When you log into SettleDirect as an administrator, you will see an easy-to-use "dashboard" summarizing recent activity and allowing you to drill-down for more detail on specific accounts or metrics. For example, you can track what is the response rate to drive to web communications, how many responders reach a settlement and the average settlement discount. In addition, SettleDirect automatically sends you an email each time an online session occurs, indicating the outcome: whether it is settled, non-settled, or if the debtor abandoned in mid- session.</p>