<h1>Privacy Policy</h1>

<h2>Our Privacy Policy to Consumers</h2>
<p>We don't just respect your privacy, we go to every length within our power to protect it. Once your personal details are entered into the system, only the last four digits of account numbers and social security numbers will be stored. We only keep the four-digit numbers in the SettleDirect system for the purpose of identifying accounts to the bank, and we'll never share the information you provide with a third party.</p>

<h2><u>Our promises</u>:</h2><br/>

<p> -  We promise to never ever share your information with anyone other than between you and the creditor(s) you are negotiating with.</p><br/>
<p> -  We promise to never ever sell your information to anyone.</p><br/>
<p> -  We promise to never store your full social security number or account numbers, only the last 4 digits.</p>